<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lego Shop</title>
</head>
<body>
    <h1>Bienvenido a LegoLandia</h1>
    <p>Por favor, llena el registro de tus campos</p>
    <form action="/" method="POST">
        
        <label for="name">Ingresar tu nombre</label>
        <input type="text" name="name" placeholder="Juan Perez">

        <label for="age">Ingresar tu edad</label>
        <input type="number" name="age" placeholder="25">
        
        <label for="email">Ingresar tu correo</label>
        <input type="email" name="email" placeholder="usuario@domnio.com">

        <label for="password">Ingresar tu password</label>
        <input type="password" name="password" placeholder="*******">

        <input type="submit" value="Aceptar">
    </form>

</body>
</html>